
.accordion{ 
	max-width: 33rem; 
	width: 100%; 
	background: #FFF; 
	margin:0 1rem; 
	padding: 1rem; 
	border-radius: 0.5rem; 
	box-shadow: 0 0 5px rgba(0,0,0,0.2); 
} 
.accordion .accordion-content{ 
	margin:10px 0; 
	border-radius: 5px; 
	background-color: #e8ffdc; 
	border-color: #bbffaa; 
	overflow: hidden; 
} 

.accordion-content.is-open{ 
	padding-bottom: 10px; 
} 
.accordion-content header{ 
	display:flex; 
	min-height: 50px; 
	padding: 0 15px; 
	
	align-items: center; 
	justify-content: space-between; 
	transition:all 0.2s linear; 
} 

.accordion-content-show{ 
	cursor: pointer; 
} 

.accordion-content.is-open header{ 
	min-height: 35px; 
} 
.accordion-content-title{ 
	font-size: 1rem; 
	font-weight: 600; 
	color:#000000; 
} 
.accordion-content-description{ 
	height:30; 
	font-size: 13px; 
	color:#000000; 
	font-weight: 400; 
	padding: 0 15px; 
}
